// color schemes \\
$background-color: rgb(64, 142, 168);
$border-color: blue;
$text-color: rgba(0, 0, 0, 0.637);
$footer-color: darkgray;
$button-color: pink;

// Fonts \\
$font-family: monospace;
// media queries \\

$breakpoint-mobile: 675px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1400px;
.body {
    padding: 0;
    margin: 0;
    object-fit: cover;
}

