// color schemes \\
$background-color: rgb(64, 142, 168);
$border-color: blue;
$text-color: rgba(0, 0, 0, 0.637);
$footer-color: darkgray;
$background: linear-gradient(#cc2b5e, #753a88);
$button-color: pink;
$drop-down-color: lightpink;
$social-color: linear-gradient(#cc2b5e, #753a88);
$youtube-color-background: #880808;
$background-menu: black;

// Fonts \\
$font-family: monospace;
// media queries \\

$breakpoint-mobile: 675px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1400px;
// resets \\



